*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.container{
    max-width: 700px;
    width: 90%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 16px;
    height: 80vh;
}
.container .title{
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
    padding-bottom:15px ;
    text-decoration: overline;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center ;
    background:linear-gradient(135deg, #71b7e6, #9b59b6); ;


}
.text{
    width:40%;
    padding: 4px;
    color:#fff;
    background-color: rgb(154, 23, 23);
    margin-left:80px ;
    margin-top: 12px;
}
.checkbox{
    padding: 9px;
}
legend{
    text-align: center;
    padding: 6px;
    
}


.details{
    justify-content: space-between;
    
}
.input-box{
    height: 165px;
    width: 100%;
}

.input box input{
    height: 45px;
    width: 100%;
}
button{
    border-radius: 27px;
}

.fname, .lname, .tele, .church{
border-radius: 10px;
height: 30px;
width: 80%;
padding: 1px;
}
select{
    height: 30px;
    width: 80%;
    border-radius: 10px;
    padding-left: 80px;
}
.copyright{
    text-align: center;
    padding: 3px
}
.selection{
    padding-left:10px;
    margin-top: 10px;
}
